@font-face {font-family:"Technodelic";src:url("../fonts/technodelic.eot?") format("eot"),url("../fonts/technodelic.woff") format("woff"),url("../fonts/technodelic.ttf") format("truetype"),url("../fonts/technodelic.svg#Technodelic") format("svg");font-weight:normal;font-style:normal;}

* {
	font-family: 'Meiryo UI';
	background-color:black;
	color:white;
}

.axis {
	font-family: 'Meiryo',sans-serif;
	font-size:8px;
	-webkit-user-select:none;
}

.axis .domain {fill:none;stroke: red;stroke-opacity: .3;stroke-width: 10px;stroke-linecap: round;}

.handle {
	fill: #555;
	stroke: #222;
	stroke-width: 1.25px;
	cursor: pointer;
}

svg {
	margin:0px;
	padding:0px;
	border:0px;
	background-color:#222;
}

body {
	margin:0px;
	padding:0px;
	border:0px;
	overflow: hidden;
	background-color:black;
}

